/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Schritftart */
@font-face {
    font-family: 'FiraSans-Light';
    src: url(../font/Fira_Sans/FiraSans-Light.ttf), url(../font/Fira_Sans/FiraSans-Black.ttf);
    font-display: auto;
}
@font-face {
    font-family: 'FiraSans-Bold';
    src: url(../font/Fira_Sans/FiraSans-Bold.ttf);
    font-display: auto;
}

* {
    font-family: 'FiraSans-Light';
    }

/* Mobile */
  @media (max-width: 900px) {

    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    section .blogPost {
        display: flex;
        flex-direction: column;
        align-items: center;
      background-color: rgb(255, 255, 255);
        border: 1px solid black;
        height: 100%;
        width: 380px;
        margin-bottom: 4rem;

    }
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        h1 {
            font-family: 'FiraSans-Bold';
            font-size: 20px;
            margin-bottom: 4rem;
         }

         img {
            width: 270px;
            height: auto;
            margin-top: 1rem;
         }

         h2, h3, p {
            font-size: 14px;
            padding: 5px;
            margin-left: 1rem;
            margin-right: 1rem;
         }

        #location {
            font-family: cursive;
        }

        #tags {
            margin-bottom: 2rem;
            color: rgb(54, 54, 54);
            font-family: cursive;
        }
        #titel {
            margin-top: 1rem;
            font-family: 'FiraSans-Bold';
        }
        #text {
            margin-bottom: 1rem;
            text-wrap: wrap;
        }
} 

@media (min-width: 900px) {

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        width: 100%;
     
    }

    section .blogPost {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
        height: 100%;
        width: 900px;
        margin-bottom: 4rem;
    

    }
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        h1 {
            font-family: 'FiraSans-Bold';
            font-size: 35px;
            margin-bottom: 8rem;
         }

         img {
            width: 400px;
            height: auto;
            margin-top: 2rem;
         }

         h2, h3, p {
            font-size: 18px;
            padding: 5px;
            margin-left: 3rem;
            margin-right: 3rem;
         }

        #location {
            font-family: cursive;
        }

        #tags {
            margin-bottom: 2rem;
           color: rgb (54, 54, 54);
            font-family: cursive;
        }

        #titel {
            margin-top: 2rem;
            font-family: 'FiraSans-Bold';
        }
        #text {
            margin-bottom: 2rem;
            text-wrap: wrap;
        }
        
}