/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Schritftart */
@font-face {
    font-family: 'TenorSans-Regular';
    src: url(../font/Tenor_Sans/TenorSans-Regular.ttf);
    font-display: auto;
}
/* * {
    font-family: 'Nunito', sans-serif;
} */

* {
    font-family: 'TenorSans-Regular';
    }

/* Mobile */
  @media (max-width: 700px) {

    
    .container {
        display: flex;
        flex-direction: column;
      align-items: center;
        margin-bottom: 4rem;
    }

    .blogPost {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        height: 650px;
        width:  390px;
        margin-bottom: 4rem;

    }
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        h1 {
            font-weight: bolder;
            font-size: 20px;
            margin-bottom: 4rem;
         }

         img {
            width: 280px;
            height: auto;
         }

         p {
            font-size: 14px;
            padding: 2.5px;
         }

        #location {
            font-family: cursive;
        }

        #tags {
            margin-bottom: 2rem;
            color: rgb(36, 148, 234);
            font-family: cursive;
        }
} 

@media (min-width: 700px) {

    .container {
        display: flex;
        flex-direction: column;
      align-items: center;
        margin-bottom: 4rem;
    }

    .blogPost {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid black;
        height: 800px;
        width: 900px;
        margin-bottom: 4rem;

    }
    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        h1 {
            font-weight: bolder;
            font-size: 35px;
            margin-bottom: 8rem;
         }

         img {
            width: 400px;
            height: auto;
         }

         p {
            font-size: 18px;
            padding: 5px;
         }

        #location {
            font-family: cursive;
        }

        #tags {
            margin-bottom: 4rem;
            color: rgb(36, 148, 234);
            font-family: cursive;
        }

}