/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Schritftart */
@font-face {
    font-family: 'TenorSans-Regular';
    src: url(../font/Tenor_Sans/TenorSans-Regular.ttf);
    font-display: auto;
}
/* * {
    font-family: 'Nunito', sans-serif;
} */

* {
    font-family: 'TenorSans-Regular';
    }

/* Mobile */

.titles {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
h1 {
    font-weight: bolder;
    font-size: 20px; }

h2 {
    font-weight: bolder;
    font-size: 19px;
    padding-top: 10px;
    margin-bottom: 2rem;
}

.pflicht {
    font-size: 20px; 
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.outer {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}

select {
    width: 70px;
    height: 40px;
    border: 1px solid rgb(74, 74, 74);
    background-color: rgb(215, 199, 186, 0.2);
}

label {
    font-size: 14px; 
    word-spacing: 2px;
    margin-bottom: 2rem;
}

textarea::placeholder {
    color: rgb(53, 52, 52);
    position: absolute;
    top: 10px;
    left: 10px;
    
}
textarea {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74);
}
input {
    height: 40px;
    width: 380px;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74);
}

input::placeholder {
    position: absolute;
    color: rgb(53, 52, 52);
    top: 10px;  
    left: 10px;
}

button {
    background-color: rgb(215, 199, 186);
    border: none;
    height: 40px;
    width: 110px;
    font-weight: bolder;
    font-size: 14px;
    border-radius: 3px;
}

button:hover {
    text-decoration: underline;
    border: 1px solid rgb(74, 74, 74);
}
.button {
    display: flex;
    justify-content: center;
}

/* Desktop */
@media (min-width: 700px) {

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    h1 {
        font-weight: bolder;
        font-size: 35px; 
    }
    
    h2 {
        font-weight: bolder;
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 8rem;
        
    }
    .pflicht {
        font-size: 20px; 
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
    }

.outer {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}
select {
    width: 70px;
    height: 40px;
    border: 1px solid rgb(74, 74, 74);
    background-color: rgb(215, 199, 186, 0.2);
}

label {
    font-size: 20px; 
    word-spacing: 2px;
    margin-bottom: 2rem;
}

textarea::placeholder {
    color: rgb(53, 52, 52);
    position: absolute;
    top: 10px;
    left: 10px;
    
    
}
textarea {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74);
}
input {
    height: 40px;
    width: 420px;
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    background-color: rgb(215, 199, 186, 0.2);
    border: 1px solid rgb(74, 74, 74);
}

input::placeholder {
    position: absolute;
    color: rgb(53, 52, 52);
    top: 10px;  
    left: 10px;
}

button {
    background-color: rgb(215, 199, 186);
    border: none;
    height: 40px;
    width: 110px;
    font-weight: bolder;
    font-size: 18px;
    border-radius: 3px;
}

button:hover {
    text-decoration: underline;
    border: 1px solid rgb(74, 74, 74);
}
.button {
    display: flex;
    justify-content: center;
}


}
