/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Schritftart */
@font-face {
    font-family: 'FiraSans-Light';
    src: url(../font/Fira_Sans/FiraSans-Light.ttf), url(../font/Fira_Sans/FiraSans-Black.ttf);
    font-display: auto;
}
@font-face {
    font-family: 'FiraSans-Bold';
    src: url(../font/Fira_Sans/FiraSans-Bold.ttf);
    font-display: auto;
}

* {
    font-family: 'FiraSans-Light';
    }

/* Mobile*/
@media (max-width: 670px) {
    
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'FiraSans-Bold';
    font-size: 20px; }

h2 {
    font-family: 'FiraSans-Bold';
    font-size: 19px;
    padding-top: 10px;
    margin-bottom: 2rem;
}

/* Images */
.container-images {
    display: flex;
    justify-content: center;
}

 .images-all {
    overflow: hidden;
    height: 510px;
    width: 380px;
    margin-left: 8%;
    margin-right: 8%; 
} 

.images-all img {
    height: auto;
    width: 350px;
}

.slide {
    display: block;
    height: 100%;
    width: 100%;
}

/* Explore More Button */
.button {
    display: none;
}

button:focus {
    outline: none;
  }
  
button:hover {
    background-color: rgb(215, 199, 186);
    cursor: pointer;
  }

/* Safe */
.safe p {
    display: none;
}
.safe_mobile p {
    text-decoration: none;
    font-size: 18px;
    text-align: right;
    margin-right: 8%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  
}

.safe_mobile p:hover {
    text-decoration: underline;
}

/* Buttons */

.arrow-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 8%;
    margin-left: 8%;
    margin-bottom: 3rem;
}
.left,
.right, #play, #pause {
  color: black;
  background: transparent;
  border: none;
  font-size: 14px;
  border-radius: 3px;
  height: 40px;
  width: 70px;
  background-color: rgb(215, 199, 186);
  cursor: pointer;
}

#pause {
    display: none;
}
}
/* Tablet */
@media (min-width: 670px) {

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        font-weight: bolder;
        font-size: 35px; }
    
    h2 {
        font-weight: bolder;
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 8rem;
        
    }
    
    /* Images */
    .slide {
        height: 600px;
        width: 380px;
    }
    
    
    .images-all {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 70px;
        height: 100%;
        width: 100%;
    }
    
    .images-all img {
        height: auto;
        width: 380px;
    }
    
    
    /* Explore More Button */
    .button {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        
    }
    .button-explore {
        background-color: rgb(215, 199, 186);
        border: none;
        height: 50px;
        width: 180px;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 3px;
        
    }
    
    /* Safe */
    .safe_mobile p {
        display: none;
    }

    .safe p {
        text-decoration: none;
        text-align: right;
        font-size: 20px;
        margin-top: 1rem;
       
    }
    
    .safe p:hover {
        text-decoration: underline;
    }
    .arrow-container {
        display: none;
    }
    }


/* Desktop */
@media (min-width: 1025px) {

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-size: 35px; }

h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 8rem;
    
}

/* Images */
.slide {
    height: 680px;
    width: 380px;
}


.images-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 140px;
    height: 100%;
    width: 100%;
}

.images-all img {
    height: auto;
    width: 380px;
}


/* Save */
.safe_mobile p {
    display: none;
}

.safe p {
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    margin-top: 1rem;
    

}

.safe p:hover {
    text-decoration: underline;
}

.arrow-container {
    display: none;
}
}