/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
* {
    font-family: 'Nunito', sans-serif;
}

/* Mobile*/

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bolder;
    font-size: 20px; }

h2 {
    font-weight: bolder;
    font-size: 19px;
    padding-top: 10px;
}
h3 {
    font-weight: bolder;
    font-size: 18px;
    padding-bottom: 25px;
}

.h3-winter, .h3-spring, .h3-summer, .h3-fall {
    display: flex;
    justify-content: center;
}

.h3-spring, .h3-summer, .h3-fall {
    padding-top: 40px;
}

.h3-winter {
    padding-top: 10px;
}



/* Images */

.body span {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 55px; 
    color: rgb(215, 199, 186);
}

.body img {
    width: 396px;
    height: 596px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-winter-middle, .image-winter-right {
    display: none;
}
.image-spring-middle, .image-spring-right {
    display: none;
}
.image-summer-middle, .image-summer-right {
    display: none;
}
.image-fall-middle, .image-fall-right {
    display: none;
}

.image-winter-left, .image-spring-left, .image-summer-left, .image-fall-left {
    position: relative;
    width: 396px;
    height: 670px;
    display: block;
}
.images-winter, .images-spring, .images-summer, .images-fall {
    display: flex;
   justify-content: center;
}

/* Button */

.button {
    display: none;
}


/* Tablet */
@media (min-width: 825px) {

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        font-weight: bolder;
        font-size: 35px; }
    
    h2 {
        font-weight: bolder;
        font-size: 30px;
        padding-top: 20px;
        
    }
    
    h3 {
        font-weight: bolder;
        font-size: 25px;
        padding-bottom: 25px;
    }

    .h3-spring, .h3-summer, .h3-fall {
        padding-top: 80px;
        
     }
    
     .h3-winter {
        padding-top: 15px;
    }
    
    /* Images */
    .body span {
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 65px; 
        color: rgb(215, 199, 186);
    }
    
    .body img {
        width: 396px;
        height: 596px;
    }
    
    .image-winter-right {
        display: none;
    }
   .image-spring-right {
        display: none;
    }
    .image-summer-right {
        display: none;
    }
   .image-fall-right {
        display: none;
    }
 
.images-winter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-winter-left, .image-winter-middle {
    position: relative;
    width: 396px;
    height: 670px;
    display: block;
}


.images-spring {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 .image-spring-left, .image-spring-middle {
    position: relative;
    width: 396px;
    height: 670px;
    display: block;
}


.images-summer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-summer-left, .image-summer-middle {
    position: relative;
    width: 396px;
    height: 670px;
    display: block;
}


.images-fall {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 .image-fall-left, .image-fall-middle  {
    position: relative;
    width: 396px;
    height: 670px;
    display: block;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.button-winter, .button-spring, .button-summer, .button-fall {
    background-color: rgb(215, 199, 186);
    border: none;
    height: 50px;
    width: 180px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    display: block;
}
    
}

/* Desktop */
@media (min-width: 1200px) {

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-size: 35px; }

h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    
}

h3 {
    font-weight: bolder;
    font-size: 25px;
    padding-bottom: 25px;
}

.h3-winter, .h3-spring, .h3-summer, .h3-fall {
    display: flex;
    justify-content: center;
   
}
.h3-spring, .h3-summer, .h3-fall {
   padding-top: 80px;
   
}

.h3-winter {
    padding-top: 15px;
}

/* Images */

.body span {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 65px; 
    color: rgb(215, 199, 186);
}

.body img {
    width: 396px;
    height: 596px;
}

.images-winter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-winter-right, .image-winter-left, .image-winter-middle {
    position: relative;
    width: 396px;
    height: 670px;
     display: block;
}


.images-spring {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-spring-right, .image-spring-left, .image-spring-middle {
    position: relative;
    width: 396px;
    height: 670px;
     display: block;
}


.images-summer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-summer-right, .image-summer-left, .image-summer-middle {
    position: relative;
    width: 396px;
    height: 670px;
     display: block;
}


.images-fall {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-fall-right, .image-fall-left, .image-fall-middle  {
    position: relative;
    width: 396px;
    height: 670px;
    display: block;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 20px;
}
.button-winter, .button-spring, .button-summer, .button-fall {
    background-color: rgb(215, 199, 186);
    border: none;
    height: 50px;
    width: 180px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 5px;
    display: block;
}
}