/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Schritftart */
@font-face {
    font-family: 'TenorSans-Regular';
    src: url(../font/Tenor_Sans/TenorSans-Regular.ttf);
    font-display: auto;
}
/* * {
    font-family: 'Nunito', sans-serif;
} */

* {
    font-family: 'TenorSans-Regular';
    }



/* Desktop */

@media (min-width: 620px) {

  /* Titles */
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
}

h3 {
    font-weight: bolder;
    font-size: 25px;
    padding-top: 25px;
}

.h3 {
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}

    /* Images */

    .body img {
        width: 396px;
        height: 596px;
    }

    .images-winter, .images-spring, .images-summer, .images-fall {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }


    .safe p {
        text-decoration: none;
        margin-top: 1rem;
        text-align: right;
        font-size: 20px;
    }

    .safe p:hover {
        text-decoration: underline;
    }
}