/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Schritftart */
@font-face {
    font-family: 'TenorSans-Regular';
    src: url(../font/Tenor_Sans/TenorSans-Regular.ttf);
    font-display: auto;
}
/* * {
    font-family: 'Nunito', sans-serif;
} */

* {
    font-family: 'TenorSans-Regular';
    }
/* Mobile*/
@media (max-width: 970px) {
    
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: bolder;
    font-size: 20px; }

h2 {
    font-weight: bolder;
    font-size: 19px;
    padding-top: 10px;
    margin-bottom: 2rem;
}

/* Images */


 .images-all {
    overflow: hidden;
    height: 520px;
    width: 500px;
    
} 

.images-all img {
    height: auto;
    width: 320px;
    margin-left: 16%;
    margin-right: 16%;
}

.slide {
    display: block;
    height: 100%;
    width: 100%;
}

/* Explore More Button */
.button {
    display: none;
}

button:focus {
    outline: none;
  }
  
button:hover {
    background: transparent;
    color: rgb(215, 199, 186);
    cursor: pointer;
  }

/* Safe */
.safe p {
    display: none;
}
.safe_mobile p {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
  
}

.safe_mobile p:hover {
    text-decoration: underline;
}

/* Arrows */

.arrow-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.left,
.right {
  color: rgb(215, 199, 186);
  background: transparent;
  border: none;
  font-size: 40px;
  margin-top: -12px;

}
}
/* Tablet */
@media (min-width: 970px) {

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        font-weight: bolder;
        font-size: 35px; }
    
    h2 {
        font-weight: bolder;
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 8rem;
        
    }
    
    /* Images */
    .slide {
        height: 600px;
        width: 380px;
    }
    
    
    .images-all {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 80px;
        height: 100%;
        width: 100%;
    }
    
    .images-all img {
        height: auto;
        width: 380px;
    }
    
    
    /* Explore More Button */
    .button {
        display: flex;
        justify-content: center;
        margin-top: 8rem;
        
    }
    .button-explore {
        background-color: rgb(215, 199, 186);
        border: none;
        height: 50px;
        width: 180px;
        font-weight: bolder;
        font-size: 20px;
        border-radius: 3px;
        
    }
    
    /* Safe */
    .safe_mobile p {
        display: none;
    }

    .safe p {
        text-decoration: none;
        text-align: right;
        font-size: 20px;
        margin-top: 1rem;
       
    }
    
    .safe p:hover {
        text-decoration: underline;
    }
    .arrow-container {
        display: none;
    }
    }


/* Desktop */
@media (min-width: 1025px) {

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bolder;
    font-size: 35px; }

h2 {
    font-weight: bolder;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 8rem;
    
}

/* Images */
.slide {
    height: 680px;
    width: 380px;
}


.images-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 140px;
    height: 100%;
    width: 100%;
}

.images-all img {
    height: auto;
    width: 380px;
}


/* Explore More Button */
.button {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    
}
.button-explore {
    background-color: rgb(215, 199, 186);
    border: none;
    height: 50px;
    width: 180px;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 3px;
    
}

/* Safe */
.safe_mobile p {
    display: none;
}

.safe p {
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    margin-top: 1rem;
    

}

.safe p:hover {
    text-decoration: underline;
}

.arrow-container {
    display: none;
}
}